.tweet {
  display: flex;
  align-items: flex-start;
  border: 3px solid #ccc;
  padding: 10px;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

@font-face {
  font-family: 'Lexend-Regular';
  src: local('Lexend-Regular'), url(./assets/fonts/Lexend-Regular.ttf) format('truetype');
}

*{
  font-family: 'Lexend-Regular';
}

.name {
  font-weight: 600;
}

.handle, .time{
  color: #657786;
}

.handle::after {
  content: " \00b7";
}

.content {
  flex: 1;
}

.avatar {
  margin-right: 10px;
  width: 48px;
  border-radius: 50%;
}

.actions{
  display: flex;
  padding: 0;
}

.actions li {
  list-style: none;
  margin-right: 30px;
}

p, ul{
  margin: 0;
}

.author-meta, p {
  margin-bottom: 1em;
} 